.header__container {
  color: white;
  margin: 0 11.25rem;
  //background-color: black;
}

header {
  background-color: #161D2F;
}

.header__menu, .header__navigation, .header__container {
  display: flex;
}

.header__logotype {margin-right: 10rem}


.header__container {
  height: 3rem;
  align-items: center;
}


.header__navigation {


}