.header__navigation, .header__container {
  @include between;
}

.header__navigation--item {
  @include underScale;
}

.header__navigation {
  width: 35.3rem;
}

.header__navigation {
  font-size: 1.4rem;
  font-family: "Nekst-Thin";
  font-weight: 300;
  line-height: 150%;
}

@include tablet {
  .header__container {
    margin: 0 4rem;
  }
}

@include mini-tablet {
  .header__navigation {
    display: block;
    background-color: rgb(53, 53, 53);
    position: absolute;
    top: -20rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 200px 0;
    font-family: Nekst-Medium;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: top .8s, opacity .6s, visibility .8s;
  };
  .header__button {display: none};
  .burger__menu {display: block}

  .header__container {
    margin: 0 7rem;
  }
}

.header__navigation--active {
  display: block;
  z-index: 10;
  background-color: rgb(53, 53, 53);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 200px 0;
  font-family: Nekst-Medium;
  font-size: 20px;
  opacity: 1;
  visibility: visible;
  transition: top .5s, opacity .5s, visibility .5s;
}


