.program {
  background-color: #FFFFFF;
  padding: 100px 0;
}

.program__description {
  color: #222;
  text-align: center;
  font-family: Nekst-Bold;
  font-size: 4rem;
  font-style: normal;
  line-height: 150%; /* 60px */
  text-transform: capitalize;
  width: 60rem;
}

.program__title {
  color: #262626;
  text-align: center;
  font-family: Nekst-Medium;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
  margin: 1rem 0;
}

.services__inner {
  @include center;
  flex-direction: column;
}