.burger__menu {
  display: none;
}

html {
  background-color: #161D2F;
  color: white;
}

.button__empty, .button {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Nekst-SemiBold";
  line-height: normal;
  text-transform: capitalize;
  border-radius: 28px;
}

.button {
  padding: 1.3rem 3.7rem;
  background: linear-gradient(97deg, #3043A9 11.99%, #1F629F 96.6%);
  box-shadow: 0 0 0px 0px #42c0ed;
  transition: box-shadow 0.31s;
}
.button:hover {
  box-shadow: 0 0 9px 4px #42c0ed;
  transition: background, 0.21s;
}

.button__empty {
  padding: 1.2rem 2.7rem;
  border: 1px solid #fff;
  transition: all 0.21s;
}
.button__empty:hover {
  box-shadow: 0 0 9px 1px #fff;
  background-color: #FFFFFF;
  color: #161D2F;
  transition: all 0.21s;
}

header {
  height: fit-content;
  padding: 1.8rem 0;
}

.header__container {
  max-width: 111rem;
  margin: 0 auto;
}

.container {
  max-width: 140rem;
  margin: 0 9rem;
}

.header__navigation, .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation--item {
  position: relative;
}
.header__navigation--item::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  border-radius: 2px;
  transition: all 0.2s ease-out;
}
.header__navigation--item:hover::before {
  width: 100%;
  transition: all 0.2s ease-out;
}

.header__navigation {
  width: 35.3rem;
}

.header__navigation {
  font-size: 1.4rem;
  font-family: "Nekst-Thin";
  font-weight: 300;
  line-height: 150%;
}

@media (max-width: 1024px) {
  .header__container {
    margin: 0 4rem;
  }
}
@media (max-width: 768px) {
  .header__navigation {
    display: block;
    background-color: rgb(53, 53, 53);
    position: absolute;
    top: -20rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 200px 0;
    font-family: Nekst-Medium;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.8s, opacity 0.6s, visibility 0.8s;
  }
  .header__button {
    display: none;
  }
  .burger__menu {
    display: block;
  }
  .header__container {
    margin: 0 7rem;
  }
}
.header__navigation--active {
  display: block;
  z-index: 10;
  background-color: rgb(53, 53, 53);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 200px 0;
  font-family: Nekst-Medium;
  font-size: 20px;
  opacity: 1;
  visibility: visible;
  transition: top 0.5s, opacity 0.5s, visibility 0.5s;
}

.burger__menu {
  --s: 4rem; /* control the size */
  --c: white; /* the color */
  height: var(--s);
  z-index: 10;
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid rgba(0, 0, 0, 0);
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0)
  no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000)
  repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top, var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top, var(--_g2) right var(--_p, 0px) top, var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, rgba(0, 0, 0, 0), #000 25% 75%, rgba(0, 0, 0, 0));
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s), clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.burger__menu:before,
.burger__menu:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.burger__menu:checked {
  clip-path: inset(0);
  --_p: calc(-1*var(--s));
  --_s: 0s;
}

.burger__menu:checked:before {
  transform: rotate(45deg);
}

.burger__menu:checked:after {
  transform: rotate(-45deg);
}

.burger__menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

.hero__undertitle {
  color: #FFF;
  font-family: Nekst-SemiBold;
  font-size: 1.4rem;
}

.hero__section--title {
  color: #FFF;
  margin: 1rem 0 2rem 0;
  font-family: Nekst-Bold;
  font-size: 6.2rem;
  line-height: 150%;
  width: 70rem;
}

.hero__section--description {
  color: #FFF;
  width: 70rem;
  font-family: Nekst-Medium;
  font-size: 1.5rem;
  line-height: 200%;
  text-transform: capitalize;
}

.hero__section--inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__section {
  padding: 6.7rem 0;
}
.hero__section p, .hero__section h1 {
  text-align: center;
  font-style: normal;
}

.hero__btn-box {
  margin: 3rem 0;
  width: 33rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vjs-icon-placeholder {
  display: none;
}

.video-js .vjs-big-play-button {
  width: 8.3rem;
  height: 8.3rem;
  background: #000000 url("../resources/pictures/header/play.svg") no-repeat center;
  border-radius: 100px;
  border: none;
}
.video-js .vjs-big-play-button:hover {
  background: #000000 url("../resources/pictures/header/play.svg") no-repeat center;
}

.video-js {
  max-width: 111rem;
  max-height: 60rem;
  border-radius: 10px;
}
.video-js:hover .vjs-big-play-button {
  background: #000000 url("../resources/pictures/header/play.svg") no-repeat center center;
}

@media (max-width: 1024px) {
  .video-js {
    max-width: 74rem;
    max-height: 40rem;
  }
  .video-js .vjs-big-play-button {
    margin-left: 0;
    left: 45%;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 2rem 0;
  }
}
@media (max-width: 576px) {
  .video-js {
    max-width: 56rem;
    max-height: 30rem;
  }
  .video-js .vjs-big-play-button {
    left: 42%;
  }
  .hero__section--title {
    font-size: 5.2rem;
    line-height: 130%;
    width: 60rem;
  }
  .hero__section--description {
    width: 60rem;
    font-size: 1.2rem;
    line-height: 180%;
  }
  .hero__btn-box {
    width: 32rem;
  }
}
@media (max-width: 420px) {
  .hero__section--description {
    width: 47rem;
    font-size: 1.2rem;
    line-height: 170%;
  }
  .hero__section--title {
    font-size: 4.2rem;
    line-height: 125%;
    width: 47rem;
  }
  .video-js {
    max-width: 46rem;
    max-height: 25rem;
  }
  .video-js .vjs-big-play-button {
    left: 40.5%;
  }
  .header__container {
    margin: 0 3rem;
  }
}
.program {
  background-color: #FFFFFF;
}

.program {
  padding: 10rem 0;
}

.program__description {
  color: #222;
  text-align: center;
  font-family: Nekst-Bold;
  font-size: 4rem;
  font-style: normal;
  line-height: 150%; /* 60px */
  text-transform: capitalize;
  width: 60rem;
}

.program__title {
  color: #262626;
  text-align: center;
  font-family: Nekst-Medium;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
  margin: 1rem 0;
}

.services__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.program__card--title {
  color: #222;
  font-family: Nekst-Medium;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.5rem;
}

.program__card--author {
  color: #222;
  font-family: Nekst-Regular;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}

.program__card--description {
  color: #4B4B4B;
  font-family: Nekst-Light;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 185%; /* 185.714% */
}

.program__slider--card {
  color: #222;
  width: 35rem;
  height: fit-content;
}
.program__slider--card img {
  max-width: 100%;
  border-radius: 10px;
}

.program__card--link {
  width: fit-content;
  color: #3043A9;
  font-family: Nekst-Regular;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  display: flex;
  align-items: center;
}
.program__card--link p {
  margin-right: 1rem;
  transition: margin-right 0.2s;
}
.program__card--link:hover {
  position: relative;
}
.program__card--link:hover::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #3043A9;
  bottom: 0;
  border-radius: 2px;
  transition: all 0.2s ease-out;
}
.program__card--link:hover:hover::before {
  width: 100%;
  transition: all 0.2s ease-out;
}
.program__card--link:hover p {
  margin-right: 2rem;
  transition: margin-right 0.2s;
}

.swiper {
  display: flex;
  width: 111rem;
}

.program__slider--card {
  width: 350px;
}

html {
  font-size: 0.5208333333vw;
}
@media (max-width: 1440px) {
  html {
    font-size: 0.6944444444vw;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 0.9765625vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 1.0416666667vw;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 1.3888888889vw;
  }
}
@media (max-width: 420px) {
  html {
    font-size: 1.9047619048vw;
  }
}

/*# sourceMappingURL=style.css.map */
