@import "general";
@import "breakpoints";
@import "header";
@import "burger";
@import "hero";

html {
  font-size: calc(100vw / 1920 * 10);

  @include small-desktop {
    font-size: calc(100vw / 1440 * 10);
  }

  @include tablet {
    font-size: calc(100vw / 1024 * 10);
  }

  @include mini-tablet {
    font-size: calc(100vw / 768 * 8);
  }

  @include mobile {
    font-size: calc(100vw / 576 * 8);
  }

  @include mini-mobile {
    font-size: calc(100vw / 420 * 8);
  }
}


